/* COLOR HEXADECMIAL REFERENCE
Gray/Blue:	#AFB6D3
Red:		#C14F3C
Dark Blue:	#101E59
*/

body{
	font-family: Helvetica;
}

/*Header styling*/

#header-bar{
	margin-left: 0;
	width: 500px;
	border-top: 1px solid #AFB6D3;
}

/*Navigation content*/
#nav-menu{
	position: relative;
	width: 20%;
	float: right;
}
#nav-header{
	padding: 3px;
}
#nav-button-container{
	padding: 5px;
}
.nav-button{
	display: inline-block;
	width: 125px;
	color: #FFFFFF;
	background: #C14F3C;
	border: none;
	padding: 2px;
}
.nav-button:hover{
	background: #101E59;
	color: #FFFFFF;
	border: none;
}
/*Main content*/
#main-content{
	position: relative;
	width: 75%;
	float: left;
}
#label{
	margin-top: 20px;
	margin-bottom: 15px;
	font-weight: bold;
}
